.navbar {
    animation: transitionIn 2.1s;
}
.col-1{
    animation: transitionUp 2.4s; 
}
.fb{
    animation: transitionLeftToRight 2.6s;
}
.insta{
    animation: transitionLeftToRight 3.0s;
}
.twitter{
    animation: transitionLeftToRight 2.8s;
}
.screens{
    animation: transitionRightToLeft 2.4s;
}
.socialmedia{
    animation: transitionLeftToRight 2.8s;
}
#developedBy{
    animation: transitionIn 3.1s;
}



@keyframes transitionIn{

    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes transitionUp{

    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes transitionLeftToRight{

    from{
        opacity: 0;
        transform: translateX(-40px)
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes transitionRightToLeft{

    from{
        opacity: 0;
        transform: translateX(40px)
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}